.acceder{
	background-color: #0e1b2e;
	color: #ffffff;
	margin-top: 30px;
}

.link{
	padding-top: 30px;
}


.inicio{
	color: #0e1b2e;
	font-family: Century Gothic;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-register {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.logos{
	width:10px;
	height:10px;
}

label{
	margin-left: 20px;
}

.espacio{
	padding-top: 10px;
}


.editar{
	background-color: #0f1e36;
	color: #fff;
}

.editar:hover{
	background-color: #fff;
	color: #0f1e36;
}

.cambiar:hover{
	background-color: #fff;
	color: #41464e;
}

.cambiar{
	background-color: #41464e;
	color: #fff;
}

hr{
	height: 4px;
	background-color: #024f61;
}

h3 .text-title{
	color: #e9e241;
}

.izquierda{
	text-align:  right;
	font-weight: bolder; 
	color: #024f61;
}

 .TituloTabla{
	text-align:  center;
	font-weight: bolder; 
	color: #fff;
	background-color: #0f1e36; 
	font-size: 18px;
}


 .CuerpoTabla{
	text-align:  center;
}


#titulos{
	text-align:  center;
	font-weight: bolder; 
	color: #024f61;
	font-size: 24px;
}

